.search{

  @include respond-to(small){   
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  @include respond-to(large){  
    width: 100%; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    
    }

    .search-s{      
      padding: 6px;
      background-color: $black;
      border-radius: 4px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      color: $yellow;
      font-family: 'Salad Trial', sans-serif;
      font-size: 1.5rem;  
      
      &::hover{
        background-color: $red;
      }
      } 
}

//CARDS PEQUEÑAS

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.card-s{
   @include respond-to(small){
    width: 15rem;
    margin-bottom: 1rem;
    background-color: $red;
    border-radius: 8px;
    border: 5px $black; 
    display: flex;
    flex-direction: column;
    align-items: center;
     
    &:hover{
      border: 5px outset $yellow;
      border-radius: 8px;
    }
  }

  @include respond-to(large){
    width: 17rem;
  } 
}

//IMAGEN PARA TODAS LAS TARJETAS

.card-img{

  @include respond-to(small){
    width: 13rem;
    height: 20rem;
    border-radius: 8px;
    background-color: $black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include respond-to(large){
    width: 15rem;
    height: 22rem;
  }  
}

.card-name{
  
  @include respond-to(small){
    font-size: 1.2rem;
    font-family: 'VTCKomixationCaps', sans-serif;  
    color: $yellow;  
    text-align: center;
    padding: 0.6rem;
  }

  @include respond-to(large){
   font-size: 1.5rem; 
  } 
}

.card-tags{ 

  @include respond-to(small){
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    gap: 4px;

    .card-tags-text{
      font-family:'VTCKomixationCaps', sans-serif;
      font-size: 1rem;
      background-color: $black;
      color: $white;
      border-radius: 4px;
      padding: 5px;
    }
  }
 
}

//BOTON DE TODOS LAS CARDS Y FORM

.boton-div{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
.boton-form{
  background-color: $yellow;
  font-family: 'Salad Trial', sans-serif; 
  color: $black;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;

  &:hover{
    background-color: $red;
    color: $yellow
  }
}

//TARJETAS GRANDES CON TODOS LOS DATOS

.card-l{

  @include respond-to(small){
    width: 80%;
    padding: 1rem;  
    margin: 0 auto;   
    background-color: $red; 
    border: 5px outset $yellow;
    border-radius: 8px; 
    
    .card-postal{
      width: 100%;
      padding: 0.5rem;
      
      .card-l-img-box{
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .card-description{
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        h3{
          font-family: 'VTCKomixationCaps', sans-serif;   
          font-size: 1.5rem; 
        }

        h5{
          font-family: 'VTCKomixationCaps', sans-serif; 
          font-size: 1rem;  
        }

        p{
          width: 100%;
          font-family: 'Salad Trial', sans-serif;
          font-size: 1.2rem;
        }

        .card-boton{
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }

  @include respond-to(large){
    display: flex; 
    gap: 1rem;

    .card-postal{
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1rem;

    }
  }
}

//FORMULARIO PARA AGREGAR PERSONAJES
.create{

  @include respond-to(small){
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .search-box{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    label{
      font-family: 'VTCKomixationCaps', sans-serif; 
      font-size: 1rem;
    }  

    input{
      height: 2rem;
      background-color: $black;
      border-radius: 4px;
      color: $yellow;
      font-family: 'VTCKomixationCaps', sans-serif; 
    }

    .create-title{
      font-family: 'VTCKomixationCaps', sans-serif; 
      color: $yellow;
      font-size: 1rem;
    }
  }

  @include respond-to(large){
    label{     
      font-size: 1.5rem;
    } 
    .create-title{
      font-size: 1.5rem;
   } 

  }

}





