//HEADER
.navbar{  
  nav{
    width: 100%;
    background-color: $black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-logo{
      width: 10rem;      
    }
    .nav-boton{
      padding: 5px;
      height: 3rem;
      background-color: $red;
      border-radius: 4px;
      color: $white;
      font-family: 'VTCKomixationCaps', sans-serif;
    }
  }
}

//FOOTER

footer{
  padding: 2rem;
  background-color: $black;
  font-family: 'VTCKomixationCaps', sans-serif;
  text-align: center;
  color: $red;
}

