// VARIABLES PALETA DE COLOR
$red: #db0404;
$yellow: #fbf007;
$black: #1d1e1d;
$white: white;

// VARIABLES DE BREAKPOINTS
$breakpoint-small: 375px;
$breakpoint-large: 1024px;

//MEDIA QUERIES
@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: $breakpoint-small) { @content; }
  } @else if $breakpoint == large {
       @media (min-width: $breakpoint-large) { @content; }
  }
}

.hidden{
  display: none !important;
}