@import url("https://fonts.cdnfonts.com/css/vtc-komixation");
@import url("https://fonts.cdnfonts.com/css/salad-trial");
.hidden {
  display: none !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  background-image: linear-gradient(black, #1d1e1d);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.navbar nav {
  width: 100%;
  background-color: #1d1e1d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar nav .nav-logo {
  width: 10rem;
}
.navbar nav .nav-boton {
  padding: 5px;
  height: 3rem;
  background-color: #db0404;
  border-radius: 4px;
  color: white;
  font-family: "VTCKomixationCaps", sans-serif;
}

footer {
  padding: 2rem;
  background-color: #1d1e1d;
  font-family: "VTCKomixationCaps", sans-serif;
  text-align: center;
  color: #db0404;
}

.search {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.search .search-s {
  height: 2rem;
  background-color: #1d1e1d;
  border-radius: 4px;
  color: #fbf007;
  font-family: "Salad Trial", sans-serif;
  font-size: 1.5rem;
}

.card-s {
  width: 20rem;
  background-color: #db0404;
  border-radius: 8px;
  border: 5px #1d1e1d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-s:hover {
  border: 5px outset #fbf007;
  border-radius: 8px;
}

.card-img {
  width: 18rem;
  height: 30rem;
  background-color: #1d1e1d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-name {
  font-size: 1.5rem;
  font-family: "VTCKomixationCaps", sans-serif;
  color: #fbf007;
  text-align: center;
  padding: 0.6rem;
}

.card-tags {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  gap: 4px;
}
.card-tags .card-tags-text {
  font-family: "VTCKomixationCaps", sans-serif;
  font-size: 1rem;
  background-color: #1d1e1d;
  color: white;
  border-radius: 4px;
  padding: 5px;
}

.boton-div {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.boton-form {
  background-color: #fbf007;
  font-family: "Salad Trial", sans-serif;
  color: #1d1e1d;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
}
.boton-form:hover {
  background-color: #db0404;
  color: #fbf007;
}

.card-l {
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
  background-color: #db0404;
  border: 5px outset #fbf007;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.card-l .card-l-img-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-l .card-description {
  width: 50%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-l .card-description h3 {
  font-family: "VTCKomixationCaps", sans-serif;
  font-size: 2rem;
}
.card-l .card-description h5 {
  font-family: "VTCKomixationCaps", sans-serif;
  font-size: 1.5rem;
}
.card-l .card-description p {
  font-family: "Salad Trial", sans-serif;
  font-size: 1.2rem;
}
.card-l .card-description .card-boton {
  display: flex;
  justify-content: space-around;
}

.create {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.create .search-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.create label {
  font-family: "VTCKomixationCaps", sans-serif;
  font-size: 1.5rem;
}
.create input {
  height: 2rem;
  background-color: #1d1e1d;
  border-radius: 4px;
  color: #fbf007;
  font-family: "VTCKomixationCaps", sans-serif;
}
.create .create-title {
  font-family: "VTCKomixationCaps", sans-serif;
  color: #fbf007;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
