// *********SPINNER**********

.spinner{
  width: 12rem;
  margin: 0 auto;

  .spinner-img{
    width: 12rem;
    animation: giro 1.3s infinite;
  }
}

@keyframes giro {
0%, 100% {
  transform: scale(0,1);
}
50% {
  transform: scale(1);
}
}
